<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
            <title>Ecoleta</title>
        {% endblock title %}

        <link rel="icon" href="/styles/icones/organicos.svg">

        <link href="/styles/main.css" rel="stylesheet">

        {% block styles %}
        {% endblock styles %}

        <link href="/styles/responsive.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gelasio:wght@700&display=swap" rel="stylesheet">

    </head>
    <body>

        <div id="{{ pageId }}">
            {% block content %}
            {% endblock content %}
        </div>

        {% block modal %}
        {% endblock modal %}

        {% block scripts %}
        {% endblock scripts %}

    </body>
</html>